---
import Layout from '@layouts/Layout.astro';
import ArticleList from '@components/ArticleList.svelte';
import PageHeading from '@components/UI/PageHeading.svelte';
import Pagination from '@components/UI/Pagination.svelte';

import { getArticles } from '@library/useCms';

export const getStaticPaths = async ({ paginate }: any) => {
  const articles = await getArticles();
  return paginate(articles, { pageSize: 10 });
};

const { page } = Astro.props;

const title = `Articles - page${page.currentPage}`;
const description = 'koyama shigehitoのArticle一覧ページ';
---

<Layout title={title} description={description} currentPage="articles">
  <PageHeading title={{ en: 'ARTICLES', ja: '記事' }} />

  <div class="mt-8 md:mt-14">
    <ArticleList articles={page.data} />
  </div>

  <div class="mt-14 flex gap-2">
    <Pagination page={page} />
  </div>
</Layout>
