---
import Layout from '@layouts/Layout.astro';
import { getWork, getAllWorks } from '@library/useCms';
import { convertDate } from '@library/convertDate';
import LinkButton from '@components/UI/LinkButton.svelte';
import { Image } from '@astrojs/image/components';

export const getStaticPaths = async () => {
  const works = await getAllWorks();
  if (!works) return;
  return works.map((content) => ({
    params: {
      slug: content.slug,
    },
  }));
};

const { slug } = Astro.params;
const work = slug && (await getWork(slug));
---

<Layout title="work page" currentPage="works">
  {
    work && (
      <div class="">
        <h1 class="text-4xl font-bold text-teal-500 md:text-5xl">
          {work.title}
        </h1>

        <div class="mt-12 flex gap-10 pl-4">
          <div class="font-barlow-semi flex flex-col gap-2 font-semibold">
            <h3 class="relative text-xl tracking-wide text-slate-700 before:absolute before:-left-3.5 before:top-[0.72rem] before:block before:h-2 before:w-2 before:rounded-full before:bg-slate-400">
              date
            </h3>
            <div class="text-md rounded-md bg-slate-200 py-0.5 px-2 tracking-wide">
              {convertDate(work.date).monthYear}
            </div>
          </div>

          <div class="font-barlow-semi flex flex-col gap-2 font-semibold">
            <h3 class="relative text-xl tracking-wide text-slate-700 before:absolute before:-left-3.5 before:top-[0.72rem] before:block before:h-2 before:w-2 before:rounded-full before:bg-slate-400">
              category
            </h3>
            <ul class=" flex gap-2 ">
              {work.category.map((item) => {
                return (
                  <li class="text-md rounded-md bg-slate-200 py-0.5 px-2 tracking-wide">
                    {item}
                  </li>
                );
              })}
            </ul>
          </div>
        </div>

        <div class="mt-10 w-full overflow-hidden rounded-md border border-slate-200">
          {work.subImage && (
            <Image
              src={decodeURIComponent(work.subImage.src)}
              width={work.subImage.width}
              height={work.subImage.height}
              alt=""
            />
          )}
        </div>

        <div class="mt-6 text-end">
          {work.link && (
            <LinkButton type="externalLink" href={work.link}>
              visit site
            </LinkButton>
          )}
        </div>

        <div class="mt-6 pl-4">
          <h3 class="relative text-lg font-bold text-slate-800 before:absolute before:-left-4 before:top-[0.7rem] before:block before:h-2 before:w-2 before:rounded-full before:bg-slate-400">
            技術スタック
          </h3>
          <p class="mt-2 leading-7">{work.architectures}</p>
        </div>

        <div class="mt-12 pl-4">
          <h3 class="relative text-lg font-bold text-slate-800 before:absolute before:-left-4 before:top-[0.7rem] before:block before:h-2 before:w-2 before:rounded-full before:bg-slate-400">
            制作物について
          </h3>
          <div class="mt-2 leading-7" set:html={work.content} />
        </div>
      </div>
    )
  }
</Layout>
