---
import { Image } from '@astrojs/image/components';
import Layout from '@layouts/Layout.astro';
import PageHeading from '@components/UI/PageHeading.svelte';
import IconGitHub from '@components/icons/IconGitHub.svelte';
import IconTwitter from '@components/icons/IconTwitter.svelte';
import IconZenn from '@components/icons/IconZenn.svelte';
import { getProfile } from '@library/useCms';

const profile = await getProfile();
---

<Layout title="article page" currentPage="profile">
  <PageHeading title={{ en: 'PROFILE', ja: 'プロフィール' }} />

  {
    profile && (
      <div class="mt-14">
        <div class="flex flex-col items-center justify-center">
          <Image
            src={profile.avatar.src}
            width={profile.avatar.width}
            height={profile.avatar.height}
            alt={profile.avatar.altText ? profile.avatar.altText : ''}
            class="h-60 w-60"
          />
          <p class="font-barlow-semi mt-8 text-center text-4xl font-semibold tracking-wider text-slate-800">
            {profile.englishName}
          </p>
          <p class="mt-2 text-xl font-bold text-slate-800">
            {profile.japaneseName}
          </p>
        </div>

        <div
          class="mt-10 flex flex-col gap-3 text-base leading-7"
          set:html={profile.description}
        />

        <h2 class="font-barlow-semi mt-10 flex items-center gap-3 text-2xl before:block before:h-2 before:w-2 before:shrink-0 before:rounded-full before:bg-slate-400">
          Skills
        </h2>
        <ul class="ml-2">
          <li>
            <h3>Design tools</h3>
            <ul>
              <li>Illustrator</li>
              <li>Indesign</li>
              <li>Photoshop</li>
              <li>Figma</li>
            </ul>
          </li>
          <li>
            <h3>Development</h3>
            <ul>
              <li>JapaScript</li>
            </ul>
          </li>
        </ul>

        <h2 class="font-barlow-semi mt-10 flex items-center gap-3 text-2xl before:block before:h-2 before:w-2 before:shrink-0 before:rounded-full before:bg-slate-400">
          Social Links
        </h2>
        <ul class="mt-3 ml-2 flex w-full gap-4">
          <li>
            <a
              href="https://github.com/K-shigehito"
              class="flex gap-2 font-bold"
            >
              <span class="sr-only">GitHub</span>
              <span class="text-slate-500 duration-150 hover:text-slate-700">
                <IconGitHub class="h-6 w-6" />
              </span>
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/chabatake5"
              class="flex gap-2 font-bold"
            >
              <span class="sr-only">Twitter</span>
              <span class="text-slate-500 duration-150 hover:text-slate-700">
                <IconTwitter class="h-6 w-6" />
              </span>
            </a>
          </li>
          <li>
            <a href="https://zenn.dev/chabatake_i" class="flex gap-2 font-bold">
              <span class="sr-only">Zenn</span>
              <span class="text-slate-500 duration-150 hover:text-slate-700">
                <IconZenn class="h-6 w-6" />
              </span>
            </a>
          </li>
        </ul>
      </div>
    )
  }
</Layout>
