---
import { siteMeta } from '@library/constants';

type Props = {
  pageTitle?: string;
  pageDescription?: string;
  pageImg?: string;
};

const { siteTitle, siteDescription, siteUrl, siteLocale, siteType, siteIcon } =
  siteMeta;
const { pageTitle, pageDescription, pageImg } = Astro.props;

const title = pageTitle ? `${pageTitle} | ${siteTitle}` : siteTitle;
const description = pageDescription ?? siteDescription;
const url = Astro.url;

const img = pageImg || '/og-image.png';
const imgUrl = img.startsWith('https') ? img : `${siteUrl}${img}`;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<title>{title}</title>
<meta property="og:title" content={title} />

<meta name="description" content={description} />
<meta property="og:description" content={description} />

<link rel="canonical" href={url} />
<meta property="og:url" content={url} />

<meta property="og:site_name" content={siteTitle} />
<meta property="og:type" content={siteType} />
<meta property="og:locale" content={siteLocale} />

<link rel="icon" href={siteIcon} />
<link rel="apple-touch-icon" href={siteIcon} />

<meta property="og:image" content={imgUrl} />
<meta name="twitter:card" content="summary_large_image" />
